*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --Red: hsl(0, 100%, 66%);
  /*Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)*/
}

body {
  width: 100vw;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 4em;
}

.cards-background-section-container {
  position: relative;
}

.cards-background {
  background-image: url("images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 13.8rem;
  z-index: -1;
  width: 100vw;
}

.card-front-back {
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  top: 1em;
  right: 0;
  left: 0;
  margin: auto;
}

.card-front {
  background-image: url("images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 275px;
  align-self: flex-start;
  position: absolute;
  top: 6em;
  z-index: 1;
  padding: 0.5em;
  color: var(--White);
}

.card-logo {
  height: 30px;
  position: absolute;
  top: 20px;
  left: 18px;
}

.card-number-card {
  font-size: 1.32rem;
  position: absolute;
  bottom: 50px;
  left: 18px;
  right: 18px;
}

.name-expiry-date {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  position: absolute;
  bottom: 20px;
  left: 18px;
  right: 18px;
  margin: auto;
}

.card-back {
  background-image: url("images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 275px;
  align-self: flex-end;
  position: absolute;
  top: 0.6em;
  z-index: 0;
  padding: 0.5em;
  color: var(--White);
}

.cvc-number-card {
  position: absolute;
  top: 67px;
  right: 37px;
  font-size: 0.7rem;
}

.inputs-field-section-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-complete-state {
  position: absolute;
  width: 90%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.front-page {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 0.9em;
  border-radius: 8px;
  outline: none;
  border: solid 1px var(--Dark-grayish-violet);
}

input::placeholder {
  color: var(--Dark-grayish-violet);
  font-size: 1.2rem;
}

label {
  color: var(--Very-dark-violet);
}

.error-message {
  color: var(--Red);
  font-size: 0.7rem;
}

.cardholder-name-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-number-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.expiry-date-cvc-container {
  display: flex;
  gap: 15px;
}

.expiry-date-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.expiry-date-inputs {
  display: flex;
  gap: 10px;
}

#expiry-date {
  width: 5.3em;
}

.cvc-number-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#cvc-number {
  width: 12.8em;
}

.confirm-button-container {
  width: 100%;
}

#confirm-button {
  width: 100%;
  color: var(--White);
  background-color: var(--Very-dark-violet);
  border-radius: 10px;
  padding: 1em 0 1em 0;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.back-page {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
